@import
"settings",
"../../bower_components/foundation-sites/assets/foundation"; // import from bower_components/foundation

.search-container {
  border: 1px solid;
  padding: 30px;
  margin-top: 15px;
}

.results-container {
  border: 1px solid;
  padding: 30px;
  margin-top: 15px;
}

.result {
  border: 1px solid;
  padding: 20px;
  margin-bottom: 15px;
}
