@import
"settings",
"../../bower_components/foundation-sites/assets/foundation"; // import from bower_components/foundation

$transparent-background: rgba(255,255,255,.95);
$transparent-top-bar: rgba(0,0,0,.50);
$border:  1px solid #cacaca;

.search-container {
  border: $border;
  padding: 30px;
  margin-top: 15px;
  background: $transparent-background;
}

.results-container {
  border: $border;
  padding: 30px;
  margin-top: 15px;
  background: $transparent-background;
  margin-bottom:15px;
}

.result {
  border: $border;
  padding: 20px;
  margin-bottom: 15px;
  background: $white;
}

.checkbox-align {
  margin-top: 30px;
}

#background {
  background: url("../images/malazan-map.png") fixed top left;
  background-size: cover;
  position:fixed;
  top:0;
  bottom:0;
  height:100%;
  width:100%;
  z-index: -100;
}



.heading {
  padding-bottom: 30px;
}

.top-bar {
  background: $transparent-top-bar;
  color: $white;
  padding-top: 0;
  padding-bottom:0;
}
.top-bar ul {
  background: none;
}

.menu-option {
  color: $white;
}

.menu {
  background: $transparent-top-bar;
  color: $white;
}

html {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}

h2 {
  font-size: 1.25rem;
}

.result-location p {
  margin: 0;
  text-align: right;
  font-family: 'Cinzel Decorative', cursive;
}

.pagination-count {
  text-align: center;
}

.search-bar {
  margin-bottom: 40px;
}
