@import
"settings",
"../../bower_components/foundation-sites/assets/foundation"; // import from bower_components/foundation
$transparent-background: rgba(250,250,250 ,1);
$transparent-top-bar: rgba(0,0,0,.50);
$border:  1px solid #cacaca;

.search-container {
  border: $border;
  padding: 30px;
  margin-top: 15px;
  background: $transparent-background;
}

.results-container {
  border: $border;
  padding: 30px;
  margin-top: 15px;
  background: $transparent-background;
}

.result {
  background: $white;
  border: $border;
  padding: 20px;
  margin-bottom: 15px;
}

.checkbox-align {
  margin-top: 30px;
}

#background {
  background: url("../images/sevencities2.jpg");
  position:fixed;
  top:0;
  bottom:0;
  height:100%;
  width:100%;
  opacity: .25;
  z-index: -100;
}



.heading {
  padding-bottom: 30px;
}

.top-bar {
  background: $transparent-top-bar;
  color: $white;
}
.top-bar ul {
  background: none;
}

.menu-option {
  color: $white;
}

.menu {
  background: $transparent-top-bar;
  color: $white;
}

html {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}

h2 {
  font-size: 1.25rem;
}
